@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<string>
@inject ICitiesService citiesServiceInView

@{
    ViewBag.Title = "Home";
}

@{
    List<string> citiesFromServiceInView = citiesServiceInView.GetCities();
}

<h1>Cities Names</h1>
<ul class="list">
@* @foreach(string city in Model)
{
    <li>@city</li>    
} *@

@* Using the injected view *@
@foreach(string city in citiesFromServiceInView)
{
    <li>@city</li>    
}
</ul>

<div>
    Instance ID of the Object 1 : @ViewBag.InstanceId_CitiesService_1
</div>

<div>
    Instance ID of the Object 2 : @ViewBag.InstanceId_CitiesService_2
</div>
<div>
    Instance ID of the Object 3 : @ViewBag.InstanceId_CitiesService_3
</div>
<div>
    Instance ID of the Object 4 : @ViewBag.InstanceId_CitiesService_4
</div>
<div class="box">
    @ViewBag.InstanceId_CitiesService_InScope
</div>