@using Views.Models
@*@{
    string appTitle = "ASP.net CORE WebApp Demo application";
    Person person = new Person(){Name="Hugh Jacksman",
    DateOfBirth=Convert.ToDateTime("09-03-2000"),
    PersonGender = Gender.Male,
     DateOfBirth=null 
    };
    List<Person>people = new List<Person>(){
    new Person(){Name="Hugh Jacksman",
    DateOfBirth=Convert.ToDateTime("09-03-2000"),
    PersonGender = Gender.Male,
    },
    new Person(){Name="Mark Ruffallo",
    DateOfBirth=Convert.ToDateTime("19-08-2000"),
    PersonGender = Gender.Male,
    },
    new Person(){Name="Ana de armmas",
    DateOfBirth=Convert.ToDateTime("09-03-2000"),
    PersonGender = Gender.Female,
    }
    };

}*@
     @* Local function *@
            @{
                double?GetAge(DateTime? DateOfBirth){
                    if(DateOfBirth is not null){
                        return Math.Round((DateTime.Now - DateOfBirth.Value).TotalDays/365);
                    }
                    return null;
                }
            }

    @* Functions in razor pages *@
    @functions{
        @* method *@
         double?CalculateAge(DateTime? DateOfBirth){
            if(DateOfBirth is not null){
            return Math.Round((DateTime.Now - DateOfBirth.Value).TotalDays/365);
            }
            return null;
        }
        @* field *@
        int favourite = 3000;   
        @* properties *@
        string actor{get;set;}="RDJ";
    }
    @* This @is known as core block *@
    @{
          @* property for script tag *@
        List<Person>people = (List<Person>)ViewData["people"];
        Person person = (Person)ViewData["person"];
        string alertMessage = $"<script>alert({people.Count} person found!')</script>";
    }

<!DOCTYPE html>
<html>
    <head>
        @* <title>@appTitle</title> *@
        @* Accessing data from viewData of the Action (Controller) *@
        <title>@ViewData["appTitle"]</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="~/style.css">
    </head>
    <body>
        <p>Welcome</p>
            @if(person.DateOfBirth!=null){
            int age = (int)Math.Round((DateTime.Now - person.DateOfBirth).Value.TotalDays/365);
            person.Name="AEStark";
            person.DateOfBirth = Convert.ToDateTime("2000-03-09");
            <p class="box">Hello @person.Name</p>
            <p class="box">Born on :@person.DateOfBirth and is @age years old.</p>
            }else{
                <p class="box-danger">Please Enter an age!</p>
            }
            @switch(person.PersonGender){
                case Gender.Male:
                    <p class="box">Hello Mr.@person.Name</p>;
                    break;
                case Gender.Female:
                    <p class="box">Hello Miss / Mrs.@person.Name</p>;
                    break;
                case Gender.Other:
                    <p class="box">Hello @person.Name</p>;
                    break;
                default:
                    <p class="box">Hello @person.Name</p>; 
                    break;      
            }
            <p>Your classmates are:</p>
           @foreach(var p in people){ @*Making use of ViewData*@
            @*foreach(var p in ViewBag.people){ Making use of ViewBag*@
                <div class="box">
                <p style="display: inline;">@p.Name <span>-</span></p>
                @if(p.DateOfBirth!=null){
                <p style="display: inline;">Born on</p>
                <p style="display: inline;"><span>: </span>@p.DateOfBirth.Value.ToString("MM/dd/yyyy")</p><br>   
                }
                </div>
            }
            <p>ViewBag</p>
            @foreach (var p in ViewBag.people)
            {
                <div class="box">
                    <p style="display: inline;font-weight:bold">@p.Name</p>
                </div>
            }
            
            @* for loop *@
            <p>for loop</p>
            @for(var i=0;i<2;i++){
                <div class="box">
                <p style="display: inline;">@people[i].Name</p><p style="display: inline;">Born on <span>-</span></p><p style="display: inline;">@people[i].DateOfBirth.Value.ToString("dd/MM/yyyy")</p><br>
                </div>   
                @:printing static content
              <text>using literals in dotnet razor pages.</text>
            }
           
            <p class="box">My age is @GetAge(Convert.ToDateTime("09-03-2000")) and I like @actor</p>
            @* Script tag *@
            @Html.Raw(alertMessage)
    </body>
</html>