@model PersonGridModel

@* <h1>@ViewBag.Grid.GridTitle</h1> *@
<h1>@Model.GridTitle</h1> @*Tightly coupled model*@
<div class="box">
    <table class="table w-100">
        <thead>
            <tr>
                <th>SI No</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach(Person p in ViewBag.Grid.Persons){
            <tr>
                <td>@p.PersonName</td>
                <td>@p.JobTitle</td>
            </tr>
            } *@
            @foreach(Person p in @Model.Persons){
            <tr>
                <td>@p.PersonName</td>
                <td>@p.JobTitle</td>
            </tr>
            }
        </tbody>
    </table>
</div>