<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>
    <div class="container" style="border:1px solid red;margin-top: 2rem;margin-bottom: 2rem;">
        @ViewBag.Mykey
    </div>
    <div class="container" style="border:1px solid red;margin-top: 2rem;">
        @ViewBag.age
    </div>
     <div class="container" style="border:1px solid red;margin-top: 2rem;margin-bottom: 2rem;">
        @ViewBag.MyNewkey
    </div>
    <div class="container" style="border:1px solid red;margin-top: 2rem;">
        @ViewBag.MyNewAge
    </div>
    <div class="container" style="border:1px solid red;margin-top: 2rem;margin-bottom: 2rem;">
       User name : @ViewBag.MyName
    </div>
    <div class="container" style="border:1px solid red;margin-top: 2rem;">
       Password  : @ViewBag.MyAge
    </div>
</body>
</html>